firebase.json
ios/
android/
node_modules/
.github/
.vscode/
!.github/workflows/build_android.yml
!.github/workflows/build_ios.yml
!.github/workflows/build_web.yml
!.github/workflows/build_windows.yml
!.github/workflows/build_macos.yml
!.github/workflows/build_linux.yml
assets/
*rc.js
*rc.json
*rc.yaml
*rc.yml
*rc.toml
*lock*
*config*
*.md
